body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    background-image: url("./Github.png");
}

.search {
    margin: 40px;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
}

input::placeholder {
    color: black;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: large;
}

input {
    background-color: transparent;
    height: 10px;
    padding: 20px;
    width: 80%;
    margin: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: large;
    color: black;
}

button {
    height: auto;
    width: 20%;
    border-radius: 0px;
    border: none;
    background-color: transparent;
    margin: 3%;
    letter-spacing: 3px;
    font-family: sans-serif;
    font-size: 80%;
}

button:active {
    transform: scale(0.8);
    font-style: oblique;
    font-size: large;
}

.repositories {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.userprofile {
    display: flex;
}

img {
    margin: 20px;
    border-radius: 0%;
    height: 125px;
    width: 125px;
}

.userdetails {
    background-color: gray;
    padding: 40px;
    width: 100%;
    margin: 20px;
}

h3 {
    position: relative;
    left: 70px;
    top: 45px;
    font-size: x-large;
    color: black;
    letter-spacing: 2px;
}